* {font-family:arial,sans-serif;}
body {font-size:75%;}
#content {position:absolute; left:230px; top:0px; bottom:0px; right:0px; overflow:auto; 
  padding:10px; background-image: url("../ui/noise.png");}
#menuHeader {position:absolute; left:0px; top:0px; width:230px; height:30px; 
  text-align:center; line-height: 30px; font-size:10pt; font-weight:bold; color:#333333;
  background: -moz-linear-gradient(#D1D6DD, #afbbd3); border-bottom:1px #999 solid;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.6); }
#menu {position:absolute; left:0px; top:31px; bottom:0px; width:230px; background-color:white; overflow:auto}
#menuHeader, #menu {border-right:1px #BBBBBB solid}
.item {display:block; overflow: hidden; width: 100%; border-bottom:1px #E0E0E5 solid; cursor:pointer}
.item:hover {background-color:#F0F0F6}
.item i {display:block; float:left; font-style:normal}
.item b {display:block; float:right; text-align:right}
.item * {padding:2px 10px 2px 7px}
.item_empty {display:block; text-align:center; color:gray; padding-top:10px}
.item_slow b {color:red}
#item_sel {background: -moz-linear-gradient(#7CB3E4, #6098D7); color:white; cursor:default!important;}
#proctable ul {margin:0px 0px 5px 0px; padding-left:2em}
#tr_curproc td {color:blue!important}

table.tablesorter {
	margin:10px 0pt 15px;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th {
	border-bottom: 1px solid black;
}
table.tablesorter tr.tablesorter-header {
	background-image:none!important
}
table.tablesorter .tablesorter-header {
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	padding: 3px 20px 3px 3px;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter th.tablesorter-headerSortUp {
	background-color: #F0F0F6;
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
table.tablesorter th.tablesorter-headerSortDown {
	background-color: #F0F0F6;
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}
table.tablesorter .tablesorter-hidden {
	display: none;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}